body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Nunito Sans", sans-serif;
  border: 0;
  vertical-align: baseline;
  line-height: 1;
  font-weight: 400;
  background: #f6f6f6;
  color: #000;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

div {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  border: 0;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  cursor: pointer;
}

span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
